<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=.;Initial Catalog=Telematic;Persist Security Info=True;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <!-- Base service url if you use https then fill X509 settings -->
    <add key="Url" value="http://localhost"/>
    <!-- File settings for https X509 certficate -->
    <add key="X509_Filepath" value="" />
    <add key="X509_Password" value="" />
    <!-- CertStore settings for https X509 certficate -->
    <add key="X509_Location" value=""/>
    <add key="X509_StoreName" value=""/>
    <add key="X509_Subject" value=""/>
  </appSettings>
</configuration>