<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, Domain0.WinService"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=.;Initial Catalog=Telematic;Persist Security Info=True;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <!-- Base service url if you use https then fill X509 settings -->
    <add key="Url" value=""/>
    <!-- File settings for https X509 certficate -->
    <add key="X509_Filepath" value="" />
    <add key="X509_Password" value="" />
    <!-- CertStore settings for https X509 certficate -->
    <add key="X509_Location" value=""/>
    <add key="X509_StoreName" value=""/>
    <add key="X509_Subject" value=""/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
    <targets>
      <target xsi:type="Console" name="console" layout="[${longdate}] ${level}:${message} ${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
</configuration>